--
-- PostgreSQL database dump
--

\restrict Z0Mbbb8VuNbwSvL6b5cwEbLQMeKvoOgA14W1LuWBe9GaUHy9VMy0v9obAfsC7ZK

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: duitku_callback_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.duitku_callback_logs (id, merchant_order_id, callback_data, signature, is_valid, created_at) FROM stdin;
\.


--
-- Data for Name: duitku_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.duitku_transactions (id, merchant_order_id, reference, payment_amount, payment_method, payment_method_name, customer_name, customer_email, customer_phone, product_details, va_number, qr_string, payment_url, status, result_code, status_message, additional_param, merchant_user_id, publisher_order_id, sp_user_hash, settlement_date, issuer_code, created_at, updated_at, paid_at, failed_at, expires_at) FROM stdin;
\.


--
-- Data for Name: games; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, order_id, notification_type, recipient, subject, message, status, sent_at, error_message, created_at) FROM stdin;
\.


--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transactions (id, order_id, transaction_id, payment_type, payment_method, gross_amount, transaction_status, transaction_time, settlement_time, fraud_status, status_message, raw_response, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, password, full_name, role, created_at, updated_at) FROM stdin;
1ef0b9dd-586c-4500-9be0-b76324ea753c	admin@topup.com	$2b$10$rKvVJvqK.6YqVqKqG7FgKuXJ8xqP0xGkqL5f0pQxLZlYGZqXZqXZq	Admin	admin	2025-12-31 14:50:39.109241	2025-12-31 14:50:39.109241
\.


--
-- Name: duitku_callback_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.duitku_callback_logs_id_seq', 1, false);


--
-- Name: duitku_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.duitku_transactions_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

\unrestrict Z0Mbbb8VuNbwSvL6b5cwEbLQMeKvoOgA14W1LuWBe9GaUHy9VMy0v9obAfsC7ZK

